@page "/categoria/{categoria}"
@attribute [StreamRendering(true)]
@inject ITarjetaService TarjetaService
@inject IPostService PostService

<PageTitle>@categoria</PageTitle>

<div>
    <div class="contenedor-fondo-index">
        <picture>
            <source media="(min-width: 1920px)"
                    srcset="@($"images/{categoria}_1920x1080.webp")">
            <source media="(min-width: 1280px) and (max-width: 1919px)"
                    srcset="@($"images/{categoria}_1280x720.webp")">
            <source media="(min-width: 1024px) and (max-width: 1279px) and (orientation: landscape)"
                    srcset="@($"images/{categoria}_1024x768.webp")">
            <source media="(min-width: 768px) and (orientation: portrait)"
                    srcset="@($"images/{categoria}_768x1024.webp")">
            <source media="(min-width: 720px) and (max-width: 767px) and (orientation: portrait)"
                    srcset="@($"images/{categoria}_720x1280.webp")">
            <source media="(min-width: 640px) and (max-width: 1023px) and (orientation: landscape)"
                    srcset="@($"images/{categoria}_1136x640.webp")">
            <source media="(max-width: 719px) and (orientation: portrait)"
                    srcset="@($"images/{categoria}_480x800.webp")">
            <source media="(max-width: 639px) and (orientation: landscape)"
                    srcset="@($"images/{categoria}_568x320.webp")">
            <img src="@($"images/{categoria}_1280x720.webp")" alt="@categoria" loading="eager"
                 class="fondo_principal imagenes">
        </picture>
        <div class="contenedor-titulo-categoria">
            @if(Tarjeta != null)
            {
                <h1>@Tarjeta.Titulo</h1>
            }
        </div>
        <div class="contenedor-descripcion-categoria">
            @if(Tarjeta != null)
            {
                <p>@Tarjeta.Descripcion</p>
            }
        </div>
    </div>
    <div class="contenedor-contenido-categoria">
        @if (Posts != null)
        {
            foreach (var Post in Posts)
            {
                <div class="box-categoria">
                    <div class="titulo-box-categoria">
                        <h2>@Post.Titulo</h2>
                    </div>
                    <div class="cita-box-categoria">
                        <p>@Post.Cita</p>
                    </div>
                    <div class="imagen-box-categoria">
                        <img src="@Post.Imagen" alt="@Post.Titulo">
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public string? categoria { get; set; }
    private List<efept.Entities.Post>? Posts;
    private Tarjeta? Tarjeta;

    protected override async Task OnInitializedAsync()
    {
        if (categoria == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        Tarjeta = await TarjetaService.GetTarjetaAsync(categoria);
        if (Tarjeta == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        Posts = await PostService.GetPostsByCategory(Tarjeta.Titulo);
    }

}